*{
    box-sizing: border-box;
}
body,html{
    margin: 0;
    padding: 0;
}


main{
    width: 100vw;
}
#cover{
 height: 100vh;
 background-image: url(./img/cover.jpg);
 background-size: cover;
 background-repeat: no-repeat;
 background-position: center;
}

.nav{
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 10px;
}

.nav a{
    text-decoration: none;
    color:rgb(2 255 255);
    font-weight: 900;
    font-size: 30px;
    padding: 10px;
}

.next{
    right: 10px;
}

.prev{
    left:10px;
}

.first-letter{
    padding-left: 114px;
    font-weight: 900;
    font-size: 30px;
}


main p{
 padding: 30px 45px;
 font-size: 24px;

}

img{
    display: inline-block;
    float: right;
    width: 35%;
}

.title{
    text-align: center;
    font-weight: 900;
    color: #02ffff;
    font-size: 50px;
    margin-bottom: 0;
}
